.terms {
    padding: 0px 20px 0px;
    margin: 0px 0px 40px 0px;
    border-bottom: solid 2px rgba(255, 255, 255, 0.18);
    position: relative;
}


.termsContainer {
    display: grid;
    grid-template-columns: 50% auto;
    align-items: center;
    column-gap: 30px;
    padding: 40px;
}

.termsText {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 30px;
    padding-left: 80px;
}

.firstText h1 {
    font-family: "Clash Display", sans-serif;
    font-size: 32px;
    line-height: 1.3;
    width: 50%;
}

.firstText span {
    color: var(--textColor);
    font-family: "Clash Display", sans-serif;
}

.firstText p:first-of-type {
    font-family: "Montserrat", sans-serif;
    color: rgba(255, 255, 255, 0.75);
}

.firstText p:nth-of-type(2) {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 188.4%;
    width: 70%;
}

.secondText {
    border: 1px solid var(--textColor);
    border-radius: 5px;
    padding: 40px;
    background: rgba(217, 217, 217, 0.03);    
}

.secondText p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 216.4%;
    
    
}

.secondText h2 {
    color: var(--textColor);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 216.4%;
    margin: 0;
}

.secondText h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    
}

.termsList div:not(:last-of-type){
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    align-items: start;
    margin: 20px 0px;
}

.termsList div p {
    margin: 0;
}

.termsBtn {
    display: grid;
    justify-content: center;
}

.termsImg {
    background: url(../images/Vector\ \(1\).svg);
    background-position: center;
    background-repeat: no-repeat;
}

.termsImg img {
    width: 70%;
    padding-top: 300px;
}

.termsItem img{
    position: absolute;
}

.termsItem img:nth-of-type(1) {
    top: 5%;
    left: 30%;
}

.termsItem img:nth-of-type(2) {
    bottom: 20%;
    right: 10%;
}

.termsItem img:nth-of-type(3) {
    top: 15%;
    left: 50%;
    width: 20px;
}

.termsItem img:nth-of-type(4) {
    bottom: 30%;
    left: 6%;
    width: 20px;
}

.termsItem img:nth-of-type(5) {
    bottom: 25%;
    right: 40%;
    width: 20px;
}

.termsItem img:nth-of-type(6) {
    bottom: 20%;
    right: 42%;
    width: 15px;
}

.termsItem img:nth-of-type(7) {
    top: 30%;
    right: 20%;
    width: 15px;
}

.termsItem img:nth-of-type(8) {
    bottom: -35%;
    left: 0;
    width: 50%;
    z-index: -1;
}